
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
	
	box-shadow:none !important;
}
.log-in-form {
  max-width: 500px;
  margin-top:90px;
}
.log-in-form input[type=email], input[type=password], input[type=text], input[type=email]{
    background-color:#ededed;
   border:1px solid #ededed;

}

.log-in-form input::placeholder{
    color:#8a8a8a;
    
}
.log-in-form label 
{

}
.log-out{
    background:rgb(230,232,235);
    margin-top:20%;
    padding:20px;
	
}
.reset{
	/*background:rgb(230,232,235);*/
    margin-top:10%;
    padding:20px;
}

.info-consulta
{
    background:rgb(230,232,235);
    margin-top:90px;
    padding:20px;
}
#signup
{
    margin-top:90px;
}

.profile{
    background:rgb(230,232,235);
    padding:20px;
}

.req{
    color:red;
}